.header-appointment {
  color: #131394;
  padding: 20px;

  /* text-shadow: 5px 2px 4px grey; */
}

h3,
.header-appointment h2 {
  font-size: 25px !important;
  font-weight: bold !important;
}

#border-right {
  border-right: 1px solid black;
}

#border-bottom {
  border-bottom: 1px solid black;
}
.appointment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.side-left {
  flex-basis: 1;
  width: 48%;
  /* background-color: #c5f1f1; */
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.492);
  border-radius: 15px;
  padding: 20px;
  justify-content: center;
}

.title-right,
.title-left {
  padding: 10px;
  padding-top: 0;
}

li {
  list-style: none;
}

.title ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: 1px solid black;
}

.service-type-item {
  flex-basis: 30%;
  border-right: 1px solid black;
  padding: 20px;
}

.service-item {
  flex-basis: 70%;
  padding: 20px;
}

.action-add {
  flex-basis: 5%;
  padding: 20px;
}

.service-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  border-top: none;
}

.service-type-item-small {
  margin: 5px 5px;
}

.service-type-item-small button {
  background-color: rgb(241, 239, 239);
  width: 100%;
  padding: 20px;
  border: 2px solid rgb(241, 239, 239);
  /* text-decoration: underline black solid; */
  /* border-bottom: 1px solid gray; */
}

.service-type-item-small button:hover {
  color: rgb(227, 151, 38) !important;
  background-color: white !important;
  border: 2px solid #0b0b90;
}

.service-item-small {
  margin: 5px 5px;
}

.service-item-small button {
  background-color: rgb(241, 239, 239);
  width: 100%;
  padding: 20px;
  border: 2px solid rgb(241, 239, 239);
  /* border-bottom: 1px solid gray; */
}
.service-item-small button:hover {
  color: rgb(227, 151, 38) !important;
  background-color: white !important;
  border-color: #0b0b90;
}

.service-type-item-small button p {
  /* padding: 2px; */
  /* border-bottom: 1px solid gray; */
  /* display: run-in; */
}

.side-right {
  width: 48%;
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.492);
  background-color: white;
  border: 2px solid #c5f1f1;
  border-radius: 15px;
  flex-basis: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

.title-info {
  padding: 20px;
  /* border: 1px solid black; */
  font-size: 20px;
}

.service-selected {
  border: 1px solid black;
  margin: 20px;
  margin-left: 40px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.432);
}

.detail p {
  text-align: left;
}

.detail button {
  margin-top: 5px;
  flex-basis: 10%;
  padding: 5px;
  border-radius: 70px;
  background-color: white;
  color: black;
}

.detail button:hover {
  color: red;
  /* background-color: rgb(249, 39, 7); */
}

select {
  width: 200px;
  margin: 5px 0;
  padding: 10px;
}

.branchAddr {
  text-align: left;
  padding: 10px;
  width: 300px;
}

.doctor-select {
  text-align: left;
}

.doctor-select select {
  text-align: left;
  margin-left: 40px;
  width: 200px;
  border: 1px solid black;
}

.service h4,
.address h4,
.doctor-select h4,
.slot h4,
.time h4 {
  font-size: 25px;
  margin: 10px 0;
  text-align: left;
  padding-left: 20px;
  color: rgba(94, 85, 85, 0.867);
}

.time input {
  padding: 10px;
  font-size: 15 px;
}

.slot select {
  margin-left: 40px;
}

.appointmet-btn {
  margin: 10px;
}

.appointmet-btn button {
  padding: 5px;
  width: 30%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 25px;
  color: white;
  background-color: rgb(11, 11, 144);
  border: 2px solid rgb(11, 11, 144);
}

.appointmet-btn button:hover {
  color: rgb(227, 151, 38) !important;
  background-color: white !important;
}

.table-right {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.row-item-selected {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.remove button {
  background: rgba(255, 255, 255, 0) !important;
  color: black !important;
}

.remove button:hover {
  color: red !important;
}

.address {
  margin-top: 10px;
  text-align: left;
  color: rgba(94, 85, 85, 0.867);
}

.address p {
  padding-left: 20px;
  color: black;
}

.sdt,
.cus-name {
  margin-top: 10px;
  text-align: left;
  padding-left: 20px;
  color: rgba(94, 85, 85, 0.867);
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.sdt h4,
.cus-name h4 {
  min-width: 130px;
}

.sdt input,
.cus-name input {
  padding: 2px;
  min-width: 300px;
}

/* ============================================= */
.branch-container {
  background-color: white;
  padding: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 4px 4px rgba(128, 128, 128, 0.477);
  z-index: 1;
}

.branch-hint,
.choose-branch-container {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: flex-start;
}

.branch-hint {
  padding-bottom: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}

.branch-item {
  width: 30%;
  /* background-color: aquamarine; */
  margin: 10px;
  padding: 10px;
  padding-top: 0;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px rgba(128, 128, 128, 0.7);
}

.branch-item button {
  /* background-color: aquamarine; */
  padding: 5px;
  margin-bottom: 0px;
  background-color: white;
}

.branch-item button h4 {
  font-size: 18px;
}

.branch-item:hover {
  background-color: rgba(31, 211, 151, 0.285);
  color: white;
}

.hint {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 2px;
  color: rgb(223, 87, 14);
}

.choose-branch-title {
  margin: 10px auto;
  text-align: center;
}

.info-branch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-branch-left {
  flex-basis: 40%;
}

.info-branch-right {
  flex-basis: 60%;
}

#page {
  /* width: 1920px; */
  /* height: 1000px; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.305);
  /* position: absolute; */
  position: fixed;
}

#popup {
  position: absolute;
  top: 150px;
  left: 100px;
  /* right: 100px; */
}

ul,
p {
  margin-bottom: 0px;
  padding-left: 0px;
}

#appointment-page {
  position: relative;
}
