* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px;
  position: fixed;
  z-index: 1;
  box-shadow: 1.5px 1.5px rgb(7, 139, 139);
}

.nav li {
  display: inline-block;
  list-style-type: none;
}

.logo img {
  height: 79px;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo p {
  font-weight: bolder;
  font-size: 25px;
  text-align: left;
  color: rgb(9, 196, 196);
  margin-top: 20px;
}

.logo,
.second-nav,
.first-nav {
  flex-basis: calc(100% / 3);
  /* justify-content: flex-start; */
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.logo {
  justify-content: flex-start;
}

.second-nav {
  text-align: right;
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .nav-item button {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 950px) {
  #body {
    margin: auto 10px;
  }
  .nav {
    flex-direction: column;
    height: 100%;
    width: 250px;
  }
  .nav,
  .second-nav,
  .first-nav {
    flex-direction: column;
    justify-content: flex-start !important;
    text-align: center !important;
    flex-basis: content !important;
  }

  .first-nav {
    margin-top: 80px;
    animation: slideIn 1s ease-in;
  }
  .second-nav {
    animation: slideIn 1s ease-in;
  }

  .logo {
    position: fixed;
    top: 0;
    right: 0;
    justify-content: center;
    background-color: white;
    /* border-bottom: 1px solid; */
    box-shadow: 4px 4px rgba(128, 128, 128, 0.57);
    width: 100% !important;
    height: 80px !important;
    flex-basis: content !important;
  }
  .dropdown {
    height: 60px !important;
  }

  .noidung_dropdown {
    top: -20px;
    left: 100px;
  }

  .nav-item button {
    font-size: 20px !important;
  }

  .second-nav {
    justify-content: flex-start !important;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(-100% - 20px));
  }
  to {
    transform: translateX(0);
  }
}

.nav-item button {
  text-decoration: none;
  margin: 10px 10px 0 0;
  padding: 10px 10px;
  color: rgb(11, 11, 144);
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  cursor: pointer;
}

.nav-item button:hover,
.nav-item:hover {
  color: rgb(227, 151, 38);
}

.nav_button {
  background-color: red;
}
.nav_button_click {
  background-color: yellow;
}

.btn-datlich:hover {
  color: rgb(227, 151, 38) !important;
  background-color: white !important;
  border: 2px solid #0b0b90;
}
