/* .table-bordered > :not(caption) > * > * {
  border-color: black;
} */
/* th,
td {
  border-color: black !important;
} */
.table-history {
  font-size: 18px;
  vertical-align: middle;
}
.table-history tr,
.table-history th,
.table-history td {
  border: 1px solid black;
}

.row-appointment-history {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-appointment-history button {
  background: rgba(255, 255, 255, 0) !important;
  color: #0b0b90;
  font-size: 18px;
}

.row-appointment-history button:hover {
  color: orange;
}
