* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  cursor: pointer;
}

.App-link {
  color: #09d3ac;
}

#body {
  padding-top: 80px;
  /* height: 1000px; */
  margin: auto 100px;
}

.App-slide,
.App-slide * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.App-slide {
  text-align: center;
  width: 100%;
  height: 10%;
  margin: auto;
  color: #222;
  font: normal normal normal 1rem/1.6 Nunito Sans, Helvetica, Arial, sans-serif;
}

.chatBox {
  position: fixed;
  right: 5%;
  bottom: 10%;
  font-size: 50px;
  color: blue;
  cursor: pointer;
}

.chatBox:hover {
  font-size: 60px;
}

.row {
  flex-direction: row !important;
}
